

.headerpicture {
	
	position:relative;
	display:block;
	margin:auto;
	width:80%;
	height:40%;
	border:7px double;
	
	
}

.buttongroup {
	
	position:absolute;
	bottom:0px;
	width:100%;
	
}

.about {
	
	text-align: justify;
    text-justify: inter-word;
	padding-left: 40px;
	padding-right: 40px;
	
}


